@page "/"

@* Aquí empieza el cuerpo de la página principal *@

<br />
<h1 style="color: black;">Libros más vendidos</h1>
<br />

<section class="cards-container">
    <!-- Card 1 -->
    <div class="card">
        <div class="card-image card1"></div>
        <div class="card-text card1">
            <span class="date">Cien años de soledad</span>
            <h2>Post Three</h2>
            <p>
                La saga de la familia Buendía en Macondo, 
                una mezcla de realismo mágico, amor y soledad 
                a través de generaciones.
            </p>
        </div>
        <div class="card-stats card3">
            <div class="stat"></div>
            <div class="stat border">
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="stat"></div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
        <div class="card-image card2"></div>
        <div class="card-text card2">
            <span class="date">Don Quijote de la Mancha</span>
            <h2>Post One</h2>
            <p>
                Las aventuras del hidalgo Alonso Quijano 
                y su escudero Sancho Panza, en una novela que 
                mezcla comedia y reflexión sobre la locura y la realidad.
            </p>
        </div>
        <div class="card-stats card1">
            <div class="stat"></div>
            <div class="stat border">
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="stat"></div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
        <div class="card-image card3"></div>
        <div class="card-text card3">
            <span class="date">El amor en los tiempos del cólera</span>
            <h2>Post Two</h2>
            <p>
                Una historia de amor que resiste el paso del tiempo 
                y las adversidades, ambientada en la Costa Caribe.
            </p>
        </div>
        <div class="card-stats card2">
            <div class="stat"></div>
            <div class="stat border">
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="stat"></div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="card">
        <div class="card-image card4"></div>
        <div class="card-text card4">
            <span class="date">Amanecer en la cosecha</span>
            <h2>Post Four</h2>
            <p>
                Una emotiva historia que refleja la vida campesina, 
                sus luchas, tradiciones y esperanza renovada 
                en cada amanecer.
            </p>
        </div>
        <div class="card-stats card4">
            <div class="stat"></div>
            <div class="stat border">
                <button class="btn-buy">Comprar</button>
            </div>
            <div class="stat"></div>
        </div>
    </div>
</section>
